.form {
  text-align: center;
  word-break: break-all;
}

.form > input {
  width: auto;
  margin-top: 40px;
}

.form > label {
  margin-left: 10px;
}

.form .ant-btn {
  margin-left: 10px;
}

.tips {
  color: red;
  text-align: center;
}

.result {
  word-break: break-all;
  text-align: center;
  margin-top: 20px;
}
